<!DOCTYPE html>
<html>
  <head>
    <title>Person Info</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet"
          href="/static/ui-lightness/jquery-ui-1.8.4.custom.css"
          media="all" />
    <script src="/static/js/jquery-1.4.2.js"></script> 
    <script src="/static/js/jquery.ui.core.js"></script> 
    <script src="/static/js/jquery.ui.datepicker.js"></script> 
    <script src="/static/js/jquery.form.js"></script> 
    {% block media %}
    {% endblock %}
  </head>
  <body>
    <div id="page-wrap">
      <header>
        <nav>
          <ul class="group">
            <li><a href="{%url t42cc.views.index%}">Person Info</a></li>
            <li><a href="{%url t42cc.views.edit%}">Edit Info</a></li>
            <li><a href="{%url t42cc.views.show_requests%}">Last Requests</a></li>
            {% if user.is_anonymous %}</h1>
              <li><a href="{% url django.contrib.auth.views.login %}" id="loging">Login</a></li>
            {% else %}
              <li><a href="{% url django.contrib.auth.views.logout_then_login %}" id="loging">Logout</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
      <section id="main-content">
        {% block content %}
        {% endblock %}
      </section>
    </div>
    <footer>
      <p><span>Debug status:</span>
        {% if django_settings.DEBUG %}
          enabled
        {% else %}
          disabled
        {% endif %}
      </p>
    </footer>
  </body>
</html>
